config/referencedata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:es="http://oss.dbc.dk/ns/es" targetNamespace="http://oss.dbc.dk/ns/es" elementFormDefault="qualified">
	<xs:element name="referencedata">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="es:info"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="info">
		<xs:complexType>
			<xs:attribute name="submitter"/>
			<xs:attribute name="format"/>
			<xs:attribute name="language"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
